
.leftHeader {
    margin: 5px;
    vertical-align: middle;
}

.rightHeader {
    float: right;
    margin: 5px;
    vertical-align: middle;
}

.leftSide{
display: flex;
align-items: center;
}

.rightSide{
display: flex;
align-items: center;
/* flex-direction: row-reverse; */
}

.UstHeader{
display: flex;
justify-content: space-between;
}

.UstResim{
size: 100%;
    text-align: center;
}

.Futbol{
    display: flex;
    justify-content: space-between;
    width: 40%;
    text-align: center;
    margin:0 auto;
}

.FutbolAltyazi{
font-weight: bold;
}

.Takim{
    width: 150px;
    font-weight: bold;
}
