body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.leftSide{
    width:42.5%;
display: inline-block;
text-align: start;
}

.rightSide{
width: 42.5%;
display: inline-block;
text-align: end;
}

.UstHeader{
text-align: center;
}

.UstHeader a{
    text-decoration: none;
    margin:0 0.5em;
    vertical-align:middle;
    font-size: smaller;
}

.leftSide img {
    width: 8em;
    text-align: left;
}

.UstResim{
    text-align: center;
    position: relative;
}

.UstResim img{
    width: 85%;
}

#ustFullstack{
    width:20%;
    /* display: block; */
    position:absolute;
    bottom: 22%;;
    left: 20%;
    transform: rotate(-25deg);
}

#ustYazi{
    font-family: fantasy;
    font-size: xx-large;
    position: absolute;
    bottom: 15%;
    left: 28%;
    transform: rotate(-25deg);
    color: red;
}

.Futbol{
    display: flex;
    justify-content: space-between;
    width: 30%;
    text-align: center;
    margin:0 auto;
}


.Takim{
    display: inline-block;
    width: 7em;
    font-weight: bold;
    font-size: 1em;
}

.Takim img{
    width: 2em;
}

.Xbox{
    display: flex;
    justify-content:space-between;
    width: 85%;
    margin:0 auto;
    position: relative;
    gap: 2em;
}
.Xbox>div{
    width: 100%;
    align-items: center;
    /* padding: 1em; */

}

.Xbox img{
    width: 100%;
    margin: 0 auto;
}

#AltResim{
    text-align: center;
    position: relative;
    /* width: 85%; */
}

#AlttakiResim{
    width: 85%;
    /* text-align: center; */
    /* position: relative; */
}

#ustYazi2{
    position: absolute;
    bottom:15%;
    left:30%;
    font-family: cursive;
    font-size: xx-large;
    font-weight: bold;
    transform: rotate(-25deg);
    color: red;
}

#deniz{
    width: 15%;
    position: absolute;
    bottom:20%;
    left:20%;
    transform: rotate(-25deg);
}

#AltBaslik{
    position:absolute;
    top:-2em;
    left:0.5em;
}

.SonLinkler{
    vertical-align: middle;
}

.SonLinkler p{
    display: inline;
    vertical-align: middle;
    margin:auto 2em;
}

.SonLinkler img{
    vertical-align: middle;
    margin:auto 0.5em;
}

